  
body{
  background-color: #eae9e9;
}
/*======= styling note( todolist ) =============*/
.note{
  border: solid 1px #dcdcdc;
  margin-top:2em;
  min-height: 600px;
  height: 85vh;
  border-radius: 10px;
  background-color: #ffffff;
  color: #828282;
}
.note .tasks{
  margin-top:0.5em;
}
.note .task{
  border-bottom: dotted 1px #c1c1c1;
  padding:0.25em 0;
  word-break:break-word;
}
.note ul{
  list-style-type: none;
  padding-left:1.5em;
  margin-bottom: 0;
  min-height:35px;
}
.note h1{
  margin-top:0.5em;
}
.note .task .fa-minus-circle{
  color:#F00;
}
.note .task .move-to{
  width:1.5em;
}
.note .task .move i{
  cursor: move;
}
.note .task i{
  margin:0 0.25em;
  cursor: pointer;
}
/*=============== styling each type of note (todolist) ==================*/
.today{
  text-align: left;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: dotted 1px #c1c1c1;
}
.tomorrow{
  text-align: right;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: dotted 1px #c1c1c1;;
}
.row.date{
  min-height:28px;
}
/*======= task input box =============*/
.note .added-task{
  width:100%;
}
.input-task,.input-task:focus{
  border-width: 0;
  width: 100%;
}
.input-task[disabled]{
  background-color: #FFF;
}
.note .task .added-task .input-task,
.note .task .added-task .text{
  font-style:italic;
}
/*============= css for anglar drag & drop libary =============*/
.note .dndPlaceholder { 
    background-color: #FFF;
    display: block;
    border-bottom: dotted 1px #c1c1c1;
    min-height: 35px;
}
.note .dndDraggingSource{
    display:none;
}
/*============ general styling ===================*/

.clickable{
  cursor: pointer;
}
.line-through{
  text-decoration: line-through;
}