<div class="container">
  <div class="row">
    <section class="col-sm-6 note" ng-controller="TodayCtrl">
      <div class="row ">
        <div class="col-12">
          <div class="today">
            <h1>Today</h1>
            <div class="row date">
              <div class="col-6 align-middle">
                <span style="padding-left:0.5em">{{todayDate}}</span>
              </div>
              <div class="col-6 text-right">
                <button ng-if="edit===false" ng-click="onEdit(true)" type="button" class="btn btn-link btn-sm">Edit</button>
                <button ng-if="edit===true" ng-click="onEdit(false)" type="button" class="btn btn-link btn-sm">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tasks">
        <ul>
          <li class="task">
            <input type="text" ng-model="task" class="input-task" placeholder="+ add text" ng-keyup="$event.keyCode === 13 && addTask(task)">
          </li>
        </ul>
        <ul dnd-list="tasks">
          <li 
            class="task"
            ng-repeat="item in tasks"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="tasks.splice($index,1)">
            <table class="added-task" dnd-nodrag>
              <tr>
                <td ng-show="$parent.edit" class="remove-col">
                    <i ng-click="onRemove(item)" class="fa fa-minus-circle" aria-hidden="true"></i>
                </td>
                <td class="clickable" ng-click="onFinishTask(item);">
                  <span ng-hide="$parent.edit" class="text" ng-class="{'line-through':item.finished}">{{item.text}}</span>
                  <input ng-show="$parent.edit" type="text" ng-model="item.text" class="input-task" ng-disabled="!$parent.edit">
                </td>
                <td ng-show="$parent.edit" class="move" dnd-handle>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </td>
                <td ng-hide="$parent.edit" class="move-to" ng-click="moveToTmr(item);">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </section>
    <section class="col-sm-6 note" ng-controller="TomorrowCtrl">
      <div class="row ">
        <div class="col-12">
          <div class="tomorrow">
            <h1>Tomorrow</h1>
            <div class="row date">
              <div class="col-6 align-middle text-left">
                <span style="padding-left:0.5em">{{tomorrowDate}}</span>
              </div>
              <!--<div class="col-6 text-right">
                <button ng-if="edit===false" ng-click="startEdit()" type="button" class="btn btn-link btn-sm">Edit</button>
                <button ng-if="edit===true" ng-click="onDone()" type="button" class="btn btn-link btn-sm">Done</button>
              </div>-->
            </div>            
          </div>
        </div>

      </div>

      <div class="tasks">
        <ul dnd-list="tasks">
          <li 
            class="task"
            ng-repeat="item in tasks"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="tasks.splice($index,1)">
            <table class="added-task" dnd-nodrag>
              <tr>
                <td ng-show="$parent.edit" class="remove-col">
                    <i ng-click="onRemove(item)" class="fa fa-minus-circle" aria-hidden="true"></i>
                </td>
                <td class="clickable" ng-click="onFinishTask(item);">
                  <span ng-hide="$parent.edit" class="text" ng-class="{'line-through':item.finished}">{{item.text}}</span>
                  <input ng-show="$parent.edit" type="text" ng-model="item.text" class="input-task" ng-disabled="!$parent.edit">
                </td>
                <td ng-show="$parent.edit" class="move" dnd-handle>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </td>
                <td ng-hide="$parent.edit" class="move-to" ng-click="moveToToday(item);">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>       
  